.measurement-table-container {
    align-items: center;
    padding: 20px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.data-grid-cell {
    border: 1px solid #ccc;
}

.data-grid-action-cell {
    border: 1px solid #ccc;
    background-color: #eee;
}

.data-grid-header-cell {
    background-color: #eee;
    border: 1px solid #ccc;
}
