.measurement-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #fff;
}

.measurement-table th {
    background-color: #f2f2f2;
}

.measurement-table td,
.measurement-table th {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}
