.new-measurement-number {
    size: "1";
    width:50px;
    margin: 0;
    text-align: center;
    padding: 4px 8px;
    border: 0px solid #ccc;
}

/* Chrome, Safari, Edge, Opera */
.new-measurement-number::-webkit-outer-spin-button,
.new-measurement-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.new-measurement-number[type=number] {
  -moz-appearance: textfield;
}